{% extends 'EndroidIntakeBundle::base.html.twig' %}

{% block title %}Intakes{% endblock %}

{% block content %}

    {% for intake in intakes %}
        <a href="{{ path('endroid_intake_intake_show', { intake: intake.id }) }}" class="btn btn-default">{{ intake.name }}</a>
    {% endfor %}

{% endblock %}