{% extends 'AvanzuAdminThemeBundle:layout:default-layout.html.twig' %}

{% block avanzu_document_title %}Intakes{% endblock %}

{% block avanzu_logo_lg %}
    <b>Intake</b> Companion
{% endblock %}

{% block avanzu_navbar_messages %}{% endblock %}
{% block avanzu_navbar_notifications %}{% endblock %}
{% block avanzu_navbar_tasks %}{% endblock %}
{% block avanzu_navbar_user %}{% endblock %}

{% block avanzu_sidebar_user %}
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ asset('bundles/avanzuadmintheme/img/avatar.png') }}" />
        </div>
        <div class="pull-left info">
            <p>{{ app.user.username }}</p>
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
{% endblock %}

{% block avanzu_sidebar_search %}{% endblock %}
{% block avanzu_page_subtitle %}{% endblock %}
{% block avanzu_page_content %}{% endblock %}

{% block avanzu_footer %}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            Good luck!
        </div>
        <strong>Copyright &copy; {{ 'now'|date('Y') }} <a href="http://endroid.nl/">Endroid</a></strong> - All rights reserved.
    </footer>
{% endblock %}